<ion-view view-title="Acerca de esta aplicación">
	<ion-content>
		<div class='padding'>
			<p class='about-text'>
				<img ng-src='img/logopej.png' class='about-img'/><br>
				v. 1.1.32 <br>
				YoCiudadano es una aplicación creada por Plan Estratégico de Juárez , A.C., somos una organización sin fines de lucro y apartidista que tiene por objetivo la construcción de una fuerza ciudadana que participe en los asuntos públicos, proponiendo y exigiendo una mejor ciudad. A través de esta herramienta, todos los juarenses podemos contribuir a construir una mejor ciudad de manera sencilla. Todos los reportes elaborados son enviados a las dependencias municipales correspondientes. 
			</p>
			<button class='button button-energized button-block' ng-click='goToPage()'>Visitar sitio oficial</button>
		</div>
	</ion-content>
</ion-view>