<ion-view view-title="Perfil" cache-view="true">
	<ion-nav-buttons native-transitions side="right">
    <button class="button button-clear" ng-click="chooseImageSource()">
      Editar
    </button>
  </ion-nav-buttons>
	<ion-content>
		<div class='profile-background'>
			<div class='row row-center profile-user-information'>
				<div class='col'>
	        <div class='profile-user-picture' style="background-image: url('{{ image }}');"></div>
	        <h1 class='profile-user-name text-center'>{{ name }}</h1>
	        <p class='profile-user-details text-center'><span class='profile-user-user_name'>{{ username }}.</span> Ciudadano desde {{ since | date: 'dd/MM/yyyy' }}</p>
	      </div>
	    </div>
	  </div>
	  <div class='row profile-user-statistics'>
	    <div class='col col-center profile-user-statistics-item'>
	      <h3 class='profile-user-reports-counter'>{{ reports }}</h3>
	      Reportes
	    </div>
	    <div class='col col-center profile-user-statistics-item'>
	      <h3 class='profile-user-comments-counter'>{{ comments }}</h3>
	      Comentarios
	    </div>
	    <div class='col col-center profile-user-statistics-item'>
	      <h3 class='profile-user-level-{{ currentUserLevelColor(level) }}'><span class='icon-estrellas-{{ currentUserLevelStarsNumber(level) }}'></span></h3>
	      Nivel
	    </div>
	  </div>
		<ion-list>
      <ion-item class='item-icon-right' ng-click='openTermsModal()'>
        <i class='icon ion-ios-arrow-right'></i>
        Términos y condiciones de uso
      </ion-item>
      <ion-item class='item-icon-right' ng-click='goToAbout()'>
        <i class='icon ion-ios-arrow-right'></i>
        Acerca de esta aplicación
      </ion-item>
       <ion-item class='item-icon-right' ng-click='goToTutorial()'>
        <i class='icon ion-ios-arrow-right'></i>
        Instructivo
      </ion-item>
      <ion-item class='item-divider'></ion-item>
      <ion-item class='item-icon-right' ng-click='goToReport()'>
        Reportar problemas con la aplicación
      </ion-item>
      <ion-item ng-click='signout()'>
      	Cerrar sesión
    	</ion-item>
    </ion-list>
	</ion-content>
</ion-view>