@font-face {
  font-family: 'popo';
  src:  url('../fonts/popo.eot?qzgpkh');
  src:  url('../fonts/popo.eot?qzgpkh#iefix') format('embedded-opentype'),
    url('../fonts/popo.ttf?qzgpkh') format('truetype'),
    url('../fonts/popo.woff?qzgpkh') format('woff'),
    url('../fonts/popo.svg?qzgpkh#popo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="filtro-"], [class*=" filtro-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'popo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filtro-alumbrado:before {
  content: "\e900";
}
.filtro-parques:before {
  content: "\e901";
}
.filtro-pavimento:before {
  content: "\e902";
}
.filtro-limpia:before {
  content: "\e903";
}
.filtro-misreportes:before {
  content: "\e904";
}
.filtro-Asset-6:before {
  content: "\e905";
}
.filtro-Asset-7:before {
  content: "\e907";
}
.filtro-Asset-8:before {
  content: "\e908";
}

