.tab-item {
    border-top: 1px solid #666666;
    margin-top: -3px;
    /*height: 51px;*/
    color: #989898;
    background-color: #F2F4F6;
    opacity: 1;
}

.tab-item + .tab-item {
   /* border-left: 1px solid #cdcccc;*/
}

.tab-item.active + .tab-item {
    border-left: none;
}

.tab-item span.tab-title {
    font-family: 'source_sans_proregular';
    font-size: 13px;
}

.tab-item.tab-ciudad {
     border-top: .5px solid #666666;
}

.tab-ciudad .icon {
    padding-top: 3px;
    font-size: 25px;



}

.tab-mi-actividad .icon {
    padding-top: 3px;
    font-size: 25px;
}

.tab-directorio .icon {
    padding-top: 3px;
    font-size: 25px;
}

.tab-yctv .icon {
    padding-top: 3px;
    font-size: 25px;
}

.tab-yo .icon {
    padding-top: 3px;
    font-size: 25px;
}

.tab-item.tab-mi-actividad {
    border-top: .5px solid #666666;
}

.tab-item.tab-directorio {
    border-top: .5px solid #666666;
}

.tab-item.tab-yctv {
     border-top: .5px solid #666666;
}

.tab-item.tab-yo {
     border-top: .5px solid #666666;
}

.tab-item .tab-title {
    font-size: 11px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
    /*background-color: #f0b840;*/
    border-top: 3px solid #d39211;
    margin-top: -3px;
    height: 51px;
    color: #fff;
    border-left: none;
    color: #f15a24;
}

.tab-ciudad.tab-item-active, .tab-ciudad.active, .tab-ciudad.activated {
    /*background-color: #fcb138;*/
    border-top: .5px solid #666666;
}

.tab-mi-actividad.tab-item-active, .tab-mi-actividad.active, .tab-mi-actividad.activated {
    /*background-color: #f89839;*/
        border-top: .5px solid #666666;
}

.tab-directorio.tab-item-active, .tab-directorio.active, .tab-directorio.activated {
    /*background-color: #58442b;*/
        border-top: .5px solid #666666;
}

.tab-yctv.tab-item-active, .tab-yctv.active, .tab-yctv.activated {
    /*background-color: #be3933;*/
        border-top: .5px solid #666666;;
}

.tab-yo.tab-item-active, .tab-yo.active, .tab-yo.activated {
   /* background-color: #0a7a86; */
        border-top: .5px solid #666666;
}